.DS_Store
.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rproj
br_political_dynasties.Rproj
*_cache

_targets
r/archive
r/download_cand_documents
r/scratch.r
/data/txt
/data/secao_results*
*.html
data/string_matching_training_data
data/locais_votacao
/data/cand_data.csv.gz
/data/electoral_results.csv.gz
dynasties_analysis_files/
data/cand_document_links.RData
